.main {
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #303163;
  padding-bottom: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #303163;
  padding-top: 20px;
  color: white;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

nav a {
  color: white;
  text-decoration: none;
}

.higu-title {
  color: #FFDAA3;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("higu.jpg");
  height: 70%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #acd5fd;
  padding-top: 10px;
}

.artCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 15px;
}

@media screen and (max-width: 950px) {
  .artCard {
    width: 45%;
    margin: 15px;
  }
}

@media screen and (max-width: 600px) {
  .gallery {
    justify-content: center;
  }
  
  .artCard {
    width: 50%;
    margin: 15px;
  }
}

.artCard img, p {
  max-width: 300px;
}